[package]
name = "taurio-fpm"
version = "0.1.0"
edition = "2021"

[dependencies]
parking_lot = "0.12"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[profile.release]
opt-level = 3
lto = true
strip = true
